In [ ]:
#Type Conversion or Type Casting : It is the Process of converting one type of data to other type of data

In [2]:
# Convert int into respective other types
print("Convert int into respective other types")
a=10
print(a,type(a))
print(float(a))
print(complex(a))
print(bool(a))
print(str(a))
print(str(a)[0])
print(range(a))

Convert int into respective other types
10 <class 'int'>
10.0
(10+0j)
True
10
1
range(0, 10)

In [3]:
# Convert float into respective other types
print("\nConvert float into respective other types")
b=13.62
print(b,type(b))
print(int(b))
print(complex(b))
print(bool(b))
print(str(b))
print(str(b)[0])

Convert float into respective other types
13.62 <class 'float'>
13
(13.62+0j)
True
13.62
1

In [4]:
# Convert Complex into respective other types
print("\nConvert Complex into respective other types")
c=10+3j
print(c,type(c))
print(bool(c))
print(str(c))
print(str(c)[1])

Convert Complex into respective other types
(10+3j) <class 'complex'>
True
(10+3j)
1

In [5]:
# Convert bool into respective other types
print("\nConvert Bool into respective other types")
d=True
print(d,type(d))
print(int(d))
print(float(d))
print(complex(d))
print(str(d))
print(str(d)[0])
print(range(d))

Convert Bool into respective other types
True <class 'bool'>
1
1.0
(1+0j)
True
T
range(0, 1)

In [13]:
# Convert string into respective other types
print("\nConvert String into respective other types")
e='Hello'
print(e,type(e))
print(range(d))
print(list(e))
print(tuple(e))
print(set(e))
print(frozenset(e))

Convert String into respective other types
Hello <class 'str'>
range(0, 1)
['H', 'e', 'l', 'l', 'o']
('H', 'e', 'l', 'l', 'o')
{'o', 'l', 'e', 'H'}
frozenset({'o', 'l', 'e', 'H'})

In [ ]:
# Convert list into respective other types
print("\nConvert list into respective other types")
f=[1,2,3,4,5]
print(f,type(f))
print(tuple(f))
print(set(f))
print(frozenset(f))
print(str(f))

Convert list into respective other types
[1, 2, 3, 4, 5] <class 'list'>
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
frozenset({1, 2, 3, 4, 5})
[1, 2, 3, 4, 5]

In [8]:
# Convert tuple into respective other types
print("\nConvert Tuple into respective other types")
g=(1,2,3,4,5)
print(g,type(g))
print(list(g))
print(set(g))
print(frozenset(g))
print(str(g))

Convert Tuple into respective other types
(1, 2, 3, 4, 5) <class 'tuple'>
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
frozenset({1, 2, 3, 4, 5})
(1, 2, 3, 4, 5)

In [9]:
# Convert set into respective other types
print("\nConvert set into respective other types")
h={1,2,3,4,5}
print(h,type(h))
print(list(h))
print(tuple(h))
print(frozenset(h))
print(str(h))

Convert set into respective other types
{1, 2, 3, 4, 5} <class 'set'>
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
frozenset({1, 2, 3, 4, 5})
{1, 2, 3, 4, 5}

In [10]:
# Convert frozenset into respective other types
print("\nConvert frozenset into respective other types")
i=frozenset({1,2,3,4,5})
print(i,type(i))
print(tuple(i))
print(list(i))
print(set(i))
print(str(i))

Convert frozenset into respective other types
frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>
(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
frozenset({1, 2, 3, 4, 5})

In [11]:
# Convert dictionary into respective other types
print("\nConvert dictionary into respective other types")
j={1:'Hello',2:'Hey'}
print(j,type(j))
print(list(j))
print(tuple(j))
print(set(j))
print(str(j))

Convert dictionary into respective other types
{1: 'Hello', 2: 'Hey'} <class 'dict'>
[1, 2]
(1, 2)
{1, 2}
{1: 'Hello', 2: 'Hey'}

In [12]:
# Convert range into respective other types
print("\nConvert range into respective other types")
k=range(1,10,2)
print(k,type(k))
print(list(k))
print(tuple(k))
print(set(k))
print(str(k))

Convert range into respective other types
range(1, 10, 2) <class 'range'>
[1, 3, 5, 7, 9]
(1, 3, 5, 7, 9)
{1, 3, 5, 7, 9}
range(1, 10, 2)

In [ ]:
# Slicing Operations in Python

In [ ]:
# Basics of Slicing ::
# Slicing :  It is the process of reading/writing multiple elements from collection
# Syntax : For Positive Indexing - varName[start=0:end=length(collection):step=1]
# For Negative Indexing - varName[start=-1:end=-length(collection):step=-1]
# It doesn't matter what value we have in start and end , we only see the step value,
# if it is positive then index start from left to right and if it is negative then index start from right to left 
# To get sequence of characters we using slicing
# In slicing we will not get any error, if will not find any index, then it will consider last index value in negative side

In [15]:
#Slicing Operations on List :
l=[1,2,3,4,5,6,'Hello','Python','Java']
print(l[:])
print(l[0:6])
print(l[6:0]) #empty
print(l[-1:-6]) # empty
print(l[-6:-1])
print(l[::1])
print(l[::-1])
print(l[1:7:2])
print(l[1:7:-2]) #empty
print(l[7:1:-2])
print(l[7][::-1])

[1, 2, 3, 4, 5, 6, 'Hello', 'Python', 'Java']
[1, 2, 3, 4, 5, 6]
[]
[]
[4, 5, 6, 'Hello', 'Python']
[1, 2, 3, 4, 5, 6, 'Hello', 'Python', 'Java']
['Java', 'Python', 'Hello', 6, 5, 4, 3, 2, 1]
[2, 4, 6]
[]
['Python', 6, 4]
nohtyP

In [20]:
#Slicing Operations on Tuple :
t=(1,2,3,4,5,6,'Hello','Python','Java')
print(t[:])
print(t[0:6])
print(t[6:0]) #empty
print(t[-1:-6]) # empty
print(t[-6:-1])
print(t[::1])
print(t[::-1])
print(t[1:7:2])
print(t[1:7:-2]) #empty
print(t[7:1:-2])
print(t[7][::-1])

(1, 2, 3, 4, 5, 6, 'Hello', 'Python', 'Java')
(1, 2, 3, 4, 5, 6)
()
()
(4, 5, 6, 'Hello', 'Python')
(1, 2, 3, 4, 5, 6, 'Hello', 'Python', 'Java')
('Java', 'Python', 'Hello', 6, 5, 4, 3, 2, 1)
(2, 4, 6)
()
('Python', 6, 4)
nohtyP

In [23]:
#Slicing Operations on Dictionary :
d={1:'Hello',2:'Python',3:'Java'}
print(d)
print(d[1])
print(d[1][1:3])
print(d[2][::-1])

{1: 'Hello', 2: 'Python', 3: 'Java'}
Hello
el
nohtyP

In [ ]:
# Input Statements in Python : Used to take the input from user, input may be any type
# Syntax : varName=input('any msg')

In [24]:
#Basic Syntax : Read input as a string
a=input('Name : ')
print(a)

Name :  Aftab

Aftab

In [28]:
#Read input as a integer
a=int(input('Enter any number:'))
print(a) # it will not allowed nany on integer values as input from user

Enter any number: 23

23

In [36]:
#Read input as a integer
a=float(input('Enter any number:'))
print(a)

Enter any number: 12.4

12.4

In [29]:
#how to read input in list items
list=[input(),int(input()),input()]
print(list)

 Hello
 23
 Python

['Hello', 23, 'Python']

In [33]:
#how to read input in Tuple items
tpl=(input(),int(input()),input())
print(tpl)

 Hello
 34
 Python

('Hello', 34, 'Python')

In [34]:
#how to read input in Set items
s={input(),int(input()),input()}
print(s)

 Hello
 45
 Python

{45, 'Python', 'Hello'}

In [35]:
#how to read input in FrozenSet items
s=frozenset({input(),int(input()),input()})
print(s)

 Hello
 23
 Python

frozenset({'Python', 'Hello', 23})

In [43]:
#how to read input in Dictionary items
s={input():int(input())}
print(s)

 1
 293432

{'1': 293432}