In [ ]:
### MULTI VALUE DATA TYPES IN PYTHON WITH CRUD OPERATONS ON MULTIVALUE DATA TYPES ###

In [ ]:
## String Data type with Strings CRUD Operations :::

In [ ]:
# String : It is sequence of characters enclosed between single quotes or double quotes 
# Syntax : variableName = 'char1char2char3.....charn' or "char1char2char3.....charn" or 'char1char2 "char3".....charn'
# String is immutable datatype
# string supports indexing

In [1]:
# Basics of Strings :
s="Hello World"
print(s)
print(type(s),len(s))

Hello World
<class 'str'> 11

In [2]:
s='Hello "Python Developer"' #wrap double quotes inside the single quotes
print(s)

Hello "Python Developer"

In [3]:
#If we want to write the string in multiple lines we uses thriple quotes '''msg'''
s='''String is an collection of sequence of character enclosed between single quotes or a double quotes
String is an immutable data type and supports indexing'''
print(s)

String is an collection of sequence of character enclosed between single quotes or a double quotes
String is an immutable data type and supports indexing

In [4]:
# Indexing in String
s="Python"
print(s[0]) # syntax : varName[indexNumber]
print(s[-1]) #Negative Indexing Starts from -1 to -length
print(s[3]) #Positive Indexing Starts from 0 to length-1

P
n
h

In [11]:
# Basic CRUD Operations on String

#Create a string or define string :
s="Python Developer"
s1='' #empty string
print(s,s1)

Python Developer

In [13]:
#Read string :

#Read Entire String
s="Python Developer"
print(s) # we are reading string data by using print statement 

#Read Specific character of String (single character)
print(s[3]) 
print(s[-5])

Python Developer
h
l

In [ ]:
# Update is not supporting in String as it is immutable data type

In [16]:
# Delete String :
s="Python Developer"
print(s)
del s
print(s) # we will get an error as we previously we create variable and deleted

Python Developer

NameError: name 's' is not defined

In [ ]:
## List  Data type with CRUD Operations :::

In [ ]:
# Basics of List : 
# List : It is collection of Homogeneous or Heterogeneous data/items/values/objects , enclosed between square brackets and separated by comma. 
# Syntax : variableName = [obj1,obj2,obj3,obj4]
# List is mutable datatype
# List supports indexing 
# We Can Perform Nested List Operation

In [2]:
lst=[1,2,3,4,'Hello',23.9,'Python']
print(lst)
print(type(lst))

[1, 2, 3, 4, 'Hello', 23.9, 'Python']
<class 'list'>

In [3]:
#Adding two lists in single list
lst1=[1,2,'A','B']
lst2=[3,4,'C','D']
res=[lst1,lst2]
print(res)

[[1, 2, 'A', 'B'], [3, 4, 'C', 'D']]

In [4]:
names=['Alice','Bob','Jhon','Robart']
print(names)
print(len(names))

['Alice', 'Bob', 'Jhon', 'Robart']
4

In [10]:
#To access the elements of list we uses indexing 
names=['Alice','Bob','Jhon','Robart']
print(names[2])
print(names[-1])
print(names[-1][2]) #to access the character inside the element

Jhon
Robart
b

In [19]:
#CRUD Operations of List ::

# Create List ::
# 1. Create Empty List
list=[]
print(list)

# 2. Create list/Define list
lst1=[1,2,3,"Hello"]
print(lst1)

[]
[1, 2, 3, 'Hello']

In [20]:
# Read List Elements ::
# 1. Read entire List 
lst=[1,2,3,'A',23.4,'Hello']
print(lst)

# 2. Read specific elements or object of list
print(lst[2])
print(lst[5][2])

[1, 2, 3, 'A', 23.4, 'Hello']
3
l

In [21]:
# Update list elements
lst=[1,2,3,'A',23.4,'Hello']
print(lst)
lst[1]='Python'
print(lst)

[1, 2, 3, 'A', 23.4, 'Hello']
[1, 'Python', 3, 'A', 23.4, 'Hello']

In [24]:
# Delete list element

# 1. Delete single object on list items
lst=[1,2,3,'A',23.4,'Hello']
print(lst)
del lst[4]
print(lst)

# 2. Delete entire list
print(lst)
del lst
print(lst)

[1, 2, 3, 'A', 23.4, 'Hello']
[1, 2, 3, 'A', 'Hello']
[1, 2, 3, 'A', 'Hello']

NameError: name 'lst' is not defined

In [3]:
# Nested List ::
lst=[1,2,3,4,[3,6,7],9]
print(lst)
print(lst[-2][2])

[1, 2, 3, 4, [3, 6, 7], 9]
7

In [ ]:
## Tuple Data type with CRUD Operations :::

In [ ]:
# Basics of Tuple : 
# Tuple : It is collection of Homogeneous or Heterogeneous data/items/values/objects , enclosed between paranthesis and separated by comma. 
# Syntax : variableName = (obj1,obj2,obj3,obj4) or obj1,obj2
# Tuple is immutable datatype
# Tuple supports indexing 
# We Can Perform Nested Tuple Operation

In [5]:
# Basics of Tuple 
t=(1,2,3)
t1=4,5,6
print(t,t1)

(1, 2, 3) (4, 5, 6)

In [9]:
#Nested Tuple
t=(1,2,3,(5,6),9)
print(t)
print([3][-1])
t1=320, #we can write the tuple as shown here
print(t1)

(1, 2, 3, (5, 6), 9)
3
(320,)

In [12]:
# CRUD Operations of Tuple ::

# Create Tuple : 
# 1. Create/define Tuple
t=tuple((1,2,3,4))
print(t)
# 2. Create Empty Tuple
t1=()
print(t1)

(1, 2, 3, 4)
()

In [13]:
# Read element of Tuple :

# 1. Read entire tuple elements 
t1=(1,"Hello",23.54, 23)
print(t1)
# 2. Read Specific object in tuple
print(t1[1])
print(t1[1][-1])

(1, 'Hello', 23.54, 23)
Hello
o

In [35]:
# Update elements of tuple : Tuple is not support to update the elements as it is an immutable Object

#Delete Element of Tuple :
# 1. Delete entire elements in tuple :
t1=(1,2,3,4,5,6)
print(t1)
del t1
print(t1)
# 2. Deleting specific element is not supporting in tuple

(1, 2, 3, 4, 5, 6, 2)

NameError: name 't1' is not defined

In [ ]:
## Set Data type with CRUD Operations :::

In [18]:
# Basics of set : 
# Set : It is collection of Homogeneous or Heterogeneous data/items/values/objects , enclosed between curly braces which are immutable objects. 
# Syntax : variableName = {obj1,obj2,obj3,obj4} 
# Set itself is mutable but inside the set objects are immutable 
# Set does not supports indexing 
# Set is an Unordered collction 
# We Can't Pass Set inside another set because set itself is an mutable,only the objects are immuatable

In [22]:
# Set Basics
s={1,2,3,'Hello'}
print(s,type(s))

{1, 2, 3, 'Hello'} <class 'set'>

In [24]:
#we must and should only add immuatble objects inside the set
s={1,2,'Hello',(1,2),'P'} #tuple is also immutable hence it generates an hashcode for tuple data also, 
                          #where hashcode is used for immutable objects or dattypes such as tuple & string
print(s)

{1, 2, (1, 2), 'P', 'Hello'}

In [29]:
#What if we add the mutable objects such as list and set inside the set object[set itself is mutable]
s={1,2,'Hello',[1,2],{2,3},'P'}
print(s) #we will get an error because list and set itself is an mutable objects,hence hashcode is not generated for list and set

TypeError: unhashable type: 'list'

In [30]:
#Set Doesnot support Indexing
s=={1,2,'Hello',(1,2),'P'}
print(s)
print(s[2]) #will get an error because set doesnot support indexing

{}

KeyError: 2

In [40]:
# CRUD Operations of Sets ::

#Create Set :
# 1. Create/Define empty set objects :
s={}
print(s)
# 2. Create/Define set objects :
s1={4,1,2,3,(5,6),2,'Hello',5} #It doesnot follow order,it is an Unordered collection
print(s1)

{}
{1, 2, 3, 4, 5, (5, 6), 'Hello'}

In [33]:
# Read the elements of Set :
# 1. Read entire set objects :
s={1,2,3,(5,6),'Hello'}
print(s)
# 2. Reas Specific set objects is not possible because set doesnot support indexing :

{1, 2, 3, (5, 6), 'Hello'}

In [34]:
# Update elements of set :
# As set is immuatble object it doesnot allow to be manipulate the objects, but we can update using built-in methods

# Delete elements of Set :
s={1,2,3,(5,6),'Hello'} #we can delete entire set items
print(s)
del s
print(s)

{1, 2, 3, (5, 6), 'Hello'}

NameError: name 's' is not defined

In [ ]:
## Frozenset Data type with CRUD Operations :::

In [ ]:
#Basics of Frozenset :
# Frozenset : It is collection of Homogeneous or Heterogeneous data/items/values/objects, which are immutable objects. 
# Syntax : variableName = frozenset(collection) #Collection may be any type but inside the collection objects must be immutable 
# Frozenset itself is immutable object
# Frozenset does not supports indexing 
# Frozenset is an Unordered Collection
# Frozenset stores only unique items , duplicate element will be removed
# We Can Pass Frozenset inside another frozenset because frozenset  is an immutable.

In [43]:
# Basics of Frozenset
f=frozenset({1,2,'Hello',90,3,2}) #It doesnot follow order,it is an Unordered collection
print(f)

frozenset({1, 2, 3, 90, 'Hello'})

In [45]:
#It does not support indexing 
f=frozenset({1,2,'Hello',90,3,2}) #It doesnot follow order,it is an Unordered collection
print(f)
print(f[2]) #get an error because it does not support indexing

frozenset({1, 2, 3, 90, 'Hello'})

TypeError: 'frozenset' object is not subscriptable

In [50]:
# We Can Pass Frozenset inside another frozenset because frozenset  is an immutable.
f=frozenset({1,2,'Hello',90,3,2,frozenset({1,2})})
print(f)

frozenset({1, 2, 3, 90, frozenset({1, 2}), 'Hello'})

In [53]:
#If we pass mutable data types inside frozenset it gives error because only immuatable objects are allowed
f=frozenset({1,2,'Hello',90,[1,2,3],3,2,frozenset({1,2})})
print(f)

TypeError: unhashable type: 'list'

In [54]:
#Collection may be any type but objects must be immuatable
f=frozenset([1,2,'Hello',90,3,2])
print(f)

frozenset({1, 2, 3, 'Hello', 90})

In [55]:
# CRUD Operations of Frozenset :

# Create and Read Frozenset :
f=frozenset({1,2,3,"hello"}) #create
print(f) #read

frozenset({1, 2, 3, 'hello'})

In [56]:
# Update Frozenset is not possible becuase it is an immutable :

#Delete an Frozenset :
f=frozenset({1,2,3,"hello"})
print(f)
del f
print(f)

frozenset({1, 2, 3, 'hello'})

NameError: name 'f' is not defined

In [ ]:
## Dictionary Data type with CRUD Operations :::

In [ ]:
# Basics of Dictionary :
# Dictionary : It is collection of Homogeneous or Heterogeneous key-value pairs. 
# Syntax : variableName = {key1:value1,key2:value2.....keyn:valuen}
# Key-Value can be seprated by comma(,) and Key and Values are separated by colon (:)
# Key Should be Unique and It is an immutable data type
# Value can be any type 
# Dictionary always stores unique value, if key is repeated in dictionary then it will override the key of value
# It does not support indexing , isntead of it supports accessing values by using keys

In [1]:
# Basic Dictionary :
d={1:"Python",2:"Java"}
print(d,type(d))

{1: 'Python', 2: 'Java'} <class 'dict'>

In [3]:
# Accesing Dictionary Values
d={1:"Python",2:"Java"}
print(d)
print(d[1]) # access value by using key, If key doesnot exists it will through an error
print(d[1][3]) # Access specific value

{1: 'Python', 2: 'Java'}
Python
h

In [17]:
info={'Name':'Aftab','age':21,'Address':'Banglore','MobNo':6362099891,'subjects':['SQL','Python','Java'],1:(1,2,3),2:{1,2,3,4}}
print(info)
print(info[1]) 
print(info[2])
print(info['subjects'][1])
print(info['subjects'][1][2])

{'Name': 'Aftab', 'age': 21, 'Address': 'Banglore', 'MobNo': 6362099891, 'subjects': ['SQL', 'Python', 'Java'], 1: (1, 2, 3), 2: {1, 2, 3, 4}}
(1, 2, 3)
{1, 2, 3, 4}
Python
t

In [19]:
# Create a new key value pair inside  a dictionary
info={'Name':'Aftab','age':21,'Address':'Banglore'}
print(info)
info['age']=23 # the key is already exists hence it will over rides with new value
print(info)

{'Name': 'Aftab', 'age': 21, 'Address': 'Banglore'}
{'Name': 'Aftab', 'age': 23, 'Address': 'Banglore'}

In [23]:
#Nested Dictionary :
info={'Name':'Aftab','age':21,'Address':'Banglore','marks':{'Python':230,'Java':342}}
print(info)
print(info['marks'])
print(info['marks']['Java'])

{'Name': 'Aftab', 'age': 21, 'Address': 'Banglore', 'marks': {'Python': 230, 'Java': 342}}
{'Python': 230, 'Java': 342}
342

In [28]:
# ReInitialization in Dictionary
d={1:100,2:200}
d[3]=400
print(d)
d=d[3]
print(d)

{1: 100, 2: 200, 3: 400}
400

TypeError: 'int' object is not subscriptable

In [3]:
# CRUD Operations of Dictionary:::

#Create Dictionary :
# 1. Create empty dictionary 
d={}
d1=dict({})
print(d,d1)
# 2. Create/define dictionary using dict() 
d2=dict({1:'Hello',2:300})
print(d2)

{} {}
{1: 'Hello', 2: 300}

In [4]:
#Read Dictionary :
# 1. Read entire dictionary 
d={1:'A',2:'B',3:'C'}
print(d)
# 2. Read only specific key values 
print(d[1])

{1: 'A', 2: 'B', 3: 'C'}
A

In [6]:
#Update Dictionary :
# 1. Update entire dictionary 
d={1:'A',2:'B',3:'C'}
print(d)
d1=dict({4:'D',5:'E',6:'F'})
print(d1)
# 2. Update specific key values 
d1[7]='G'
print(d1)

{1: 'A', 2: 'B', 3: 'C'}
{4: 'D', 5: 'E', 6: 'F'}
{4: 'D', 5: 'E', 6: 'F', 7: 'G'}

In [8]:
#Delete Dictionary :
# 1. Delete entire dictionary 
d1={1:'A',2:'B',3:'C'}
print(d1)
del d1[3]
print(d1)
# 2. Update specific key values 
d2={1:'A',2:'B',3:'C'}
print(d2)
del d2
print(d2)

{1: 'A', 2: 'B', 3: 'C'}
{1: 'A', 2: 'B'}
{1: 'A', 2: 'B', 3: 'C'}

NameError: name 'd2' is not defined

In [ ]:
## Range Data type :::

In [ ]:
# Basics of Range()
# It generates the series of numbers from start to end-1
# range is collection
# Syntax : varName=range(start=0:end:step=1)
# Immutable Objects
# Step Value is matters in range : If Step Value is Positive , Then condition must be start<end 
# If Step Value is Negative , Then condition must be start>end
# Note : No matters what is the start and end value, check always step value positive or negative, 
# If condition fails then return empty List/tuple/set/frozenset

In [9]:
l=range(5) #start=0 end=5 #step=1 by default it will take
print(l) # I will get output in the form of range(0,5)
print(list(l)) # Displays the result interms of list

range(0, 5)
[0, 1, 2, 3, 4]

In [10]:
l=range(1,6) #step=1 by default it will take
print(list(l))

[1, 2, 3, 4, 5]

In [14]:
l=range(5,1)
print(list(l)) #Empty List

frozenset()

In [15]:
l=range(1,9,1) #Step Value is positive, start<end Condition satisfy
print(list(l)) #we can convert at any time
print(tuple(l))
print(set(l))
print(frozenset(l))

[1, 2, 3, 4, 5, 6, 7, 8]
(1, 2, 3, 4, 5, 6, 7, 8)
{1, 2, 3, 4, 5, 6, 7, 8}
frozenset({1, 2, 3, 4, 5, 6, 7, 8})

In [19]:
l=range(9,1,-1) #Step value is -1 means it decreasing the series by 1
print(list(l))
l1=range(20,10,-3)  #Step value is -3 means it decreasing the series by 3
print(list(l1))
l2=range(1,10,3)
print(list(l2))

[9, 8, 7, 6, 5, 4, 3, 2]
[20, 17, 14, 11]
[1, 4, 7]