In [ ]:
 ### PYTHON BASICS  ###

In [28]:
# Printig Statement in Python :::
print(163,234)
print('Hello')
print('A','B','C')
print('A','B','C',sep='@')
print('A','B','C',sep='\n')
print('A','B','C',sep='@',end='|')

# Alternatively we can write multiple print statement in single line by using colon
print("\nHello"); print("World");

163 234
Hello
A B C
A@B@C
A
B
C
A@B@C|
Hello
World

In [ ]:
### VARIABLES IN PYTHON ###

In [ ]:
# Syntax : variableName=data(any type)
# We can Initialization the varibles using different way as follows ::
# 1. Assign Single Value to a Single Variable
# 2. Re-Initialization of Value to a Variable
# 3. Assign Multiple Value to a Multiple Variable
# 4. Initializing multiple varible to a single data
# 5. Assign multiple values for single variable with the help of *  
# 6. Assigning One Variable to another varibale as a reference
# 7. Variable initialization Using Unpack Collection

In [9]:
# 1. Assign Single Value to a Single Variable
a=100
print(a)
b='Hello World'
print(b)

100
Hello World

In [10]:
# 2. Re-Initialization of Value to a Variable
a=100
print(a)
a=200
print(a)

100
200

In [11]:
# 3. Assign Multiple Value to a Multiple Variable
a,b,c=100,200,300
print(a,b,c)

100 200 300

In [13]:
# 4. Initializing multiple varible to a single data
a=b=c=100
print(a,b,c)

100 100 100

In [14]:
# 5. Assign multiple values for single variable with the help of *  
a,*b=100,200,300,400,500,600
print(a,b)

100 [200, 300, 400, 500, 600]

In [18]:
# 6. Assigning One Variable to another varibale as a reference
a=100
b=a
print(a,b)

100 100

In [21]:
# 7. Variable initialization Using Unpack Collection
names=['A','B','C']
x,y,z=names
print(x,y,z)
print(names)

A B C
['A', 'B', 'C']

In [ ]:
### DATA TYPES IN PYTHON ###

In [35]:
## 1. Single Value Datatype ## 
# i)int 
# ii)float
# iii)complex
# iv)boolean
# v)none

In [29]:
# i. int data type ::
a=100
print(a,type(a))

100 <class 'int'>

In [30]:
# ii. float data type ::
b=13.30
print(b,type(b))

13.3 <class 'float'>

In [31]:
# iii. complex data type ::
c=3+2j
print(c,type(c))

(3+2j) <class 'complex'>

In [32]:
# iv. boolean data type ::
d=True
print(d,type(d))

True <class 'bool'>

In [33]:
# v. None Data type ::
e=None
print(e,type(e))

None <class 'NoneType'>

In [34]:
## 2. Multi Value Datatype : 
# i.string 
# ii.list
# iii.tuple
# iv.range
# v.set
# vi.frozenset
# vii. dictionary

In [36]:
# i. string data type :::
s='Hello'
print(s,type(s))

Hello <class 'str'>

In [37]:
# ii. list datatype :::
l=[10,20,30,40,50]
print(l,type(l))

[10, 20, 30, 40, 50] <class 'list'>

In [38]:
# iii. tuple datatype :::
t=(10,20,30,40,50)
print(t,type(t))

(10, 20, 30, 40, 50) <class 'tuple'>

In [39]:
# iv. set datatype :::
st={10,20,30,40,50,20}
print(st,type(st))

{50, 20, 40, 10, 30} <class 'set'>

In [40]:
# v. frozenset datatype :::
f=frozenset({10,20,30,40,50,20})
print(f,type(f))

frozenset({50, 20, 40, 10, 30}) <class 'frozenset'>

In [41]:
# vi. dictionary datatype :::
dict={'A':101,'B':102}
print(dict,type(dict))

{'A': 101, 'B': 102} <class 'dict'>

In [42]:
# vii. range datatype :::
r=range(1,20)
print(r,type(r))

range(1, 20) <class 'range'>